.parent-middle-flex
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-repeat:repeat;
}


main {
  padding: 0 20px 40px 20px;
}

ul {
  li {
    list-style: none;
  }
}